.wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 1/4;
    grid-row: 2;
    width: 100%;
    border: none;
    border-bottom: 1px green solid;
}

.four {
    grid-column: 1/4;
    grid-row: 3;
}

form {
    border: 1px solid green;
    padding: 25px;
    border-radius: 25px;
    background-color: rgb(244, 247, 248);
}

input, select, textarea {
    background-color: rgb(232, 238, 239);
    border: none;
    font-family: times;
    border-radius: 5px;
}

.barrestranspa {
    height: 8%;
    width: 100%;
    font-size: 18px;
}

#commentaires {
    height: 50%;
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(26, 188, 156);
    box-shadow: 5px rgba(16, 94, 16, 0.541);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: rgb(17, 128, 105);
    transition: 0.3s;
}