body{   background-color: rgb(83, 20, 95);
}

h1{
    color: rgb(158, 158, 245);
    text-align: center;
}
h6{
    color: rgb(158, 158, 245);
    text-align: center;
}
 fieldset{
    text-align: center;
}