nav {
    margin-top: 0px;
    background-color: #44a33d;
}

ul {
  display: flex;
  color: #a4daa1;
  margin: 0px;
  padding: 0px;
  justify-content: flex-start;
  flex-direction: right;
  list-style: none;
}

li a {
  display: flex;
  border-left: 3px solid rgb(58, 167, 152);
  border-right: 6px solid white;
  background-color: #87bb34;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}

li a:hover,
li a:focus {
  color: #ffffff;
  background-color: #5ed656;
}

img {
    float: left;
    margin-bottom: 10px;
    border-radius: 5px;
}

body {
    background-image: url("../Images/A3-1920.jpg");
    background: cover;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    color: white;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.700);
    clear: both;
    width: 40%;
}


.colFormation {
    display: flex;
    flex-flow: row column;
    justify-content: space-around;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.700);
    padding: 5px;
    margin: 10px;
    color: white;
    clear: both;
    height: 340px;
}


